body {background-color: white;}

h1 {text-align: center;}

p {font-family: verdana; font-size: 20px;}

a {font-family: verdana; font-size: 20px;}

div {background-color: lightgrey; width: 600px; padding: 30px; margin: auto; margin-top: 1px; border-radius: 30px;}
