body {background-color: white;}

h1 {text-align: center;}

p {font-family: verdana; font-size: 20px;}

a {text-align: center; font-family: verdana; font-size: 20px;}

div {background-color: lightgrey; width: 600px; padding: 25px; margin: auto; border-radius: 25px;}
