body {background-color: whitesmoke;}

h1 {text-align: center;}

p {font-family: Monospace; font-size: 20px;}

nav {font-family: Monospace; font-size: 20px; text-align: center;}

div {background-color: white; width: 600px; padding: 30px; 
     padding-top: 1px;margin: auto; margin-top: 50px; border-radius: 40px;}
